<div class="cd_mcollection">
    {% for block in section.blocks %}
        <a class="category" href="{{ block.settings.product.url }}">
            <img src="{{block.settings.product.featured_image | image_url: width: 200}}">
            <!-- <span>{{ block.settings.product.title }}</span> -->
        </a> 
    {% endfor %}
</div>
<style>

.cd_mcollection::-webkit-scrollbar {
  width: 10px;
}
  /* Track */
.cd_mcollection::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
.cd_mcollection::-webkit-scrollbar-thumb {
  background: #fff; 
}

/* Handle on hover */
.cd_mcollection::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

.products-carousel{
    display: none;
    flex-wrap: wrap;
    padding: 0px 0;
}
.products-carousel .cd_mcollection{
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 0px;
      margin-top: 15px;
}
.products-carousel h2{
    width: 100%;
    text-align: center; 
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 0;
}

.products-carousel img{
    width: 88px;
    height: 88px;
    border-radius: 100%;
    margin-bottom: 0px;
    border: 1px solid #CFCFD8;
    object-fit: cover;
}
.products-carousel .products{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90px;
    margin: 0 4px;
    text-decoration: none;
}
.products-carousel span{
    font-family: Cabin,sans-serif!important;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
}
  .cd_mcollection a{
      padding: 0px 10px;
  }
@media screen and (max-width: 768px) {
    .products-carousel
    {
        display: flex;
    }
}
</style>
{% schema %}
  {
    "name": "MM logos",
    "class": "products-carousel",
    "settings": [
        
    ],
    "blocks":
    [
        {
            "name":"Product",
            "type":"product",
            "settings":
            [     
                {
                  "type": "product", 
                  "id": "product", 
                  "label": "Product"
                }                                              
            ]            
        }
    ],    
    "presets": [
      {
        "name": "MM Logos",
        "category": "Components Home"
      }
    ]
  }
{% endschema %}